<% provide(:title, "トップ") %>
<div class="center jumbotron">
  <iframe src="https://player.vimeo.com/video/699286266?h=ed8ae35298" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  <%= image_tag 'logo.png' %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>
